In [13]:
from utils import load_data
import pandas as pd
from lenskit.algorithms import Recommender, item_knn as knn
from lenskit import batch, topn, util
from lenskit import crossfold as xf
%matplotlib inline

In [22]:
original = load_data("./active1000")
original.head()

,eventId,category,activeTime,title,url,userId,publishtime,time,documentId
0,2029361762,None,NaN,None,http://adressa.no,cx:i9i5zdr4ns9bm4ky:2by1rj0hmjgy,None,1483225227,None
1,351617637,None,41.0,None,http://adressa.no,cx:iimz2wwcwxu7d721:2r8odp9zhg5yp,None,1483225320,None
2,483221791,None,NaN,None,http://adressa.no/nyheter/trondheim/2016/12/31...,cx:iimz2wwcwxu7d721:2r8odp9zhg5yp,None,1483225328,None
3,929295193,None,11.0,None,http://adressa.no,cx:idlec1eyfbpru62o:2yhui5zv6k12b,None,1483225334,None
4,1908339310,None,NaN,None,http://adressa.no/pluss/kultur/2016/12/31/bare...,cx:iimz2wwcwxu7d721:2r8odp9zhg5yp,None,1483225387,None

In [30]:
dataset = original.copy()
dataset = dataset[pd.notnull(dataset["documentId"])]
dataset = dataset.rename(columns={'userId': 'user', 'documentId': 'item'})
dataset.head()

,eventId,category,activeTime,title,url,user,publishtime,time,item
15,828764961,None,NaN,Se lesernes nyttårsbilder,http://adressa.no/nyheter/2016/12/31/se-lesern...,cx:il0sdznsjgg9uxgy:3bi2ksost85yi,2016-12-31T17:13:57.000Z,1483225500,9f3999bd1a1a8d67bcb073ad54840f15cb30f014
17,378480578,None,7.0,Se lesernes nyttårsbilder,http://adressa.no/nyheter/2016/12/31/se-lesern...,cx:ijtjdxpz93t5f8m5:2iz9n4nuh22ky,2016-12-31T17:13:57.000Z,1483225504,9f3999bd1a1a8d67bcb073ad54840f15cb30f014
18,1899017717,None,NaN,Måtte i oppvaskmøte etter å ha kritisert lands...,http://adressa.no/100sport/langrenn_old/matte-...,cx:ilfpxvtxtbw8zoiz:jy0kpshctu1c,None,1483225511,40d2ee3cfa2a7119b197e293353d0e2401782b1a
23,506807602,None,60.0,Se lesernes nyttårsbilder,http://adressa.no/nyheter/2016/12/31/se-lesern...,cx:ep1jmztcea6w2dtv4kax775yy:1sm7epvktvk6k,2016-12-31T17:13:57.000Z,1483225561,9f3999bd1a1a8d67bcb073ad54840f15cb30f014
24,1187690539,None,10.0,Måtte i oppvaskmøte etter å ha kritisert lands...,http://adressa.no/100sport/langrenn_old/matte-...,cx:13785776217372059747227:y69zdttav1l7,None,1483225575,40d2ee3cfa2a7119b197e293353d0e2401782b1a

In [31]:
algo_ii = knn.ItemItem(20, feedback='implicit')
def eval(aname, algo, train, test):
    fittable = util.clone(algo)
    fittable = Recommender.adapt(fittable)
    fittable.fit(train)
    users = test.user.unique()
    # now we run the recommender
    recs = batch.recommend(fittable, users, 100)
    # add the algorithm name for analyzability
    recs['Algorithm'] = aname
    return recs

In [32]:
all_recs = []
test_data = []
for train, test in xf.partition_users(dataset[['user', 'item']], 5, xf.SampleFrac(0.2)):
    test_data.append(test)
    all_recs.append(eval('ItemItem', algo_ii, train, test))

In [33]:
all_recs = pd.concat(all_recs, ignore_index=True)
all_recs.head()

,item,score,user,rank,Algorithm
0,21124879767ab94be2415310b1e04c380051b59f,11.171695,cx:13082126012361420762846:3nhzg71lk2zqc,1,ItemItem
1,a4108a6448e235d895c62807f493d918a9b8125e,11.011790,cx:13082126012361420762846:3nhzg71lk2zqc,2,ItemItem
2,cf83d342459ce871e2a8562a91b7dca946e3201a,10.734710,cx:13082126012361420762846:3nhzg71lk2zqc,3,ItemItem
3,6af41040924f1aa5cbc5427af8ecb63df0b36fc3,10.706119,cx:13082126012361420762846:3nhzg71lk2zqc,4,ItemItem
4,494a1f550157cc78c7ef55dd2498faa450bdaa5b,10.688633,cx:13082126012361420762846:3nhzg71lk2zqc,5,ItemItem

In [34]:
test_data = pd.concat(test_data, ignore_index=True)

In [35]:
rla = topn.RecListAnalysis()
rla.add_metric(topn.ndcg)
results = rla.compute(all_recs, test_data)
results.head()

results.groupby('Algorithm').ndcg.mean()

truth index not unique: may have duplicate items
Empty DataFrame
Columns: []
Index: [(0, 43b008750bfd8535d57f3788d603ce80bdfb6e43), (0, d698b58803566019642f15e9d19ed06f20fe38f0), (0, 76e2f91b98ffcbcbd7cbd92f66319d78ee6e4af1), (0, dff3471f505424723a63181f46383844011a976f), (0, e0719cedc76796a83a94c4646d2220eef2f324f1), (0, c47f63e7e6d046709c8222e5baebec3ba19e1ae8), (0, 1907d9891155cadbf240e6774cfb9246e1248561), (0, f59688e88ce057b388b573e7740bf7998496e46c), (0, 5bf4087aef39ff8d08c642d394335e50fe10cc1d), (0, 23aef9831d5bd956bf12fb388799d2339ef8f5d2), (0, e6a50f7520b45ccef4fb5e1c9f86c6336aa13786), (0, dad570826871d3a9678222ff6396e5297a148deb), (0, 042fe9b766831f187360d2d432571345a0d4b00b), (0, a893aab473b64b0580fd9b930ca3ffc6bbc2cd53), (0, f89d5df0e8cfd384b78fb2a02d6c96e70b63a37a), (0, 637dcd5bc42e2b0bba3370ae32703c2c0bffa4c7), (0, ccc2e4530968515ecc184bddd771495a6244b089), (0, f874f1912d057d06afbd45cb3e2f39042d14846b), (0, acd23789ab8dc56e8262a8bc36fb968f8dc88c1c), (0, 290fcf99f1d51b15ff2c5d18bacefda99c2a85f0), (0, cf409c89f44d1574b003e457bd90116f1691e1f2), (0, 574e757b41ad63360ec70eec4799cdc7af670f0e), (0, 7b597ae3a1174d205a681f509cabd1bb16dc4470), (0, 809fda675cef08bb1e20c471e7ba8ae993a4b7de), (0, 93f54da8d8f1f656f632421932d577412bbfdf93), (0, 5e3619f3d7f08180a4e4054c55398bb2e6b988e9), (0, fe093425cd5f7bf036fb03d737ee7f3d9c34d5ae), (0, 61b6d43c0d1462db5f5d789a1d5d7c0a357169d7), (0, 9c0d4e0180cf4768ef78b2f5b33fb36b028fb40e), (0, 366cdb5021fd2c5664be42f0842a76c6a944668f), (0, 5d002fe83da1430d741eaeb63f4cedc1e16464d8), (0, 006cd391a613a7e06d2e40f40e1c91a54670491a), (0, ce2343b4411cfdc55489e5f867ac9a9ba6a69053), (0, 373bda013ec35d4dd5b717fd51a70dd58c532ebe), (0, e9a8deeda6a04df6afb887619a3a1880250aed7a), (0, c1eeedc4b40ac8f0f4c6bace72c5a90c26b88d36), (0, eb6f9b4f51870fcd849681ef9af08a716ecdcef5), (0, b4b6ae4edcfcc8681361da3b99b4c1fe7a78fa56), (0, 51c878bd85bcf4079297783ec57979b88e9c6c4f), (0, 7c4aeecfb6cdabaa077f4c297b63055b3c126efa), (0, 615afa068a6a7e026af600ce9a558c2f72c0b05d), (0, e10143aba756082c846ec60777d071246078f0b1), (0, 62d1d491c2c60bff8904e79f7dbc0700dd7ba358), (0, 38533fd3c3a28b28422e502fe5db4464153effa8), (0, 58efb777e5df92096a6c27170f795eddd25e250c), (0, 3ef711f3c185f773d1d7c36a86ac04b70cf6ab18), (0, 7a71414d043784fe42dea8a6e34340cbfc46c485), (0, 13fe57f448ecc5ae989694e584adbba723c35c4f), (0, de20a2dcf80ace403f0f4669306a9a2433ed31b1), (0, 1907d9891155cadbf240e6774cfb9246e1248561), (0, 8c2d246cc99685b2f5011b946938382b4c408331), (0, fb863f7e91d4a5e1aaaadec702df0ef7a298f5ed), (0, f75021e8720184c678d1ab95ce4339437503b994), (0, b615efe4063713632f94f79010f478668bd3e091), (0, 016186e8e4bfc383165e5059c6211473d28cfa06), (0, f78fbe42dfad4217211f62400273bf5645c7b1ad), (0, 325ee368538f17f9d61dfc24b2160f19e3e0d558), (0, a2758920c7e879494a6c3333a5e846f00188e555), (0, b9254289988a0f92aca9554dc67c3470b198317d), (0, 7122597e3b685ff6c48b905a676748c15dbeea80), (0, c1ae8b1a04855fedd09ac1fbf45df07b0c7a2434), (0, 6357caa3c1f6e09d4f556098aa12e78e0c539f6a), (0, 87bfab0b97299b1c4ade727ce6dec6e58e0204dc), (0, 591b9dc8eb0e29d0e4cdac903ac4676867173b20), (0, fe53de5d42d11c5e8a41e1115c688dd3ad94b1d6), (0, cc5ddbde3f55c6861761e61fe0b1cffd45827a1e), (0, 239b2aea352b79f86a4f58598027f052e48b1b32), (0, b36546800ae916692cfcbbe0a3685626cbc08dd7), (0, 8b5352edf7a1f93107f651a1d8cba1b32c8b2197), (0, a6fd35bc5a1770bd0de74cf8bc907953f5a75eac), (0, 82ac9ee3437fc3781c00c59f1ef475edd6744033), (0, f6b4f68522b330e93d07ea24b31436b3b1a6e47b), (0, 993fe1ebd16a3284f6cc744b2f5e3af0ebc7a2f3), (0, 8c6a0a59ceac0c2af6bcbfb441a4dc82ceefd371), (0, 134aca17d8e7954f5bc95779e6c865c731700ada), (0, 8c068d6a3b9235e2c2b5022b064c1d10ef6371eb), (0, 4280477b10de631f8e55acb04259fc6c138c6166), (0, 6fb12231d4b87f522a9fc7ccc32e9307e9d278b9), (0, 6ade7d0b638741b01453d18f33fb891cb6f1940b), (0, ce1de185c80f9a2c0eb8bf5c869ba5daee5c6541), (0, bd21faffe0730cbec3538febc21199faa0fea819), (0, 43067bf2ec5d94f973528d86a94c7f50ea9e59ea), (0, e834b3195717583b48b43207a7f775fd7e891f1d), (0, 1ffcae226fae38963b354a7fc1424b797b0dc785), (0, c9436fbef932c41017d9d2e7db35a272050e8ef5), (0, 3dff5482629abc65241949362fff497e941d25c9), (0, 711a433e24cfafe69c19b0692c68372cea2e56f9), (0, 5e02519c602e2a13884375364b903d8afdf24602), (0, 04128778a0c2689ee4682204562d341a6087d040), (0, b6672c00347769951851021f9172b051b8b88dd3), (0, f09ecebee85eee7fd5a3f14a9c4dcb796341f8ff), (0, 2d4602f0f8d872edc84f15aee1610dfb7ab80199), (0, c609ea0989fc2f8bac668fa94289468e08a6bc2f), (0, 57018a29f0f247efc104e7d13fc7e9f7d275669f), (0, 007f9e3194ee7202d34093cee81767519400a8b4), (0, 31b3b7a0af7fa5054410efd24b80bf5eb572a11c), (0, fe093425cd5f7bf036fb03d737ee7f3d9c34d5ae), (0, 55dd6f2fd23cfb94763ee37b6ea09393fabb7604), (0, 6df72c6300462897e132133d11a6a0feeec4b59a), (0, a0457434a9383dc68637fbc8abcd82d1b1fcee33), ...]

[157795 rows x 0 columns]

Algorithm
ItemItem    0.12895
Name: ndcg, dtype: float64